@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #CD4527;
  --color-primaryhover: #b33c22;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background-image-primary-gradient: linear-gradient(
    to right, 
    #CD4527 0%, 
    #B03821 100%
  );

  --background-image-brand-gradient: linear-gradient(
    to right, 
    #FFF7ED 0%, 
    #FFFFFF 50%, 
    #FEF2F2 100%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}