@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #cd4527;
  --color-primaryhover: #b33c22;

  --color-destructive: #ef4444;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background-image-primary-gradient: linear-gradient(to right, #cd4527 0%, #b03821 100%);

  --background-image-brand-gradient: linear-gradient(
    to right,
    #fff7ed 0%,
    #ffffff 50%,
    #fef2f2 100%
  );

  --shadow-primary-lg:
    0 10px 15px -3px rgba(205, 69, 39, 0.3), 0 4px 6px -4px rgba(205, 69, 39, 0.3);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
